<footer class="page-footer" aria-label="Site footer">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5>Services</h5>
                <ul>
                    <li><a href="/todos" aria-label="Dashboard">Dashboard</a></li>
                    <li><a href="/profile" aria-label="Profile">Profile</a></li>
                    <li><a href="/signup" aria-label="Sign Up">Sign Up</a></li>
                    <li><a href="/login" aria-label="Login">Login</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Company</h5>
                <ul>
                    <li><a href="#about" aria-label="About us">About us</a></li>
                    <li><a href="#contact" aria-label="Contact">Contact</a></li>
                    <li><a href="#careers" aria-label="Careers">Careers</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#terms" aria-label="Terms of use">Terms of use</a></li>
                    <li><a href="#privacy" aria-label="Privacy policy">Privacy policy</a></li>
                    <li><a href="#cookies" aria-label="Cookie policy">Cookie policy</a></li>
                </ul>
                <div class="social-links" aria-label="Social media links">
                    <ul>
                        <li>
                            <a href="https://x.com/boobeh123" title="X" aria-label="Follow us on X" target="_blank">
                                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/boobeh123/Coin-flip-server-side" title="GitHub" aria-label="Visit our GitHub profile" target="_blank">
                                <i class="fab fa-github" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://bobby-asakawa.netlify.app/" title="Portfolio" aria-label="Visit our portfolio website" target="_blank">
                                <i class="fa-solid fa-globe" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
<script>
    M.Sidenav.init(document.querySelector('.sidenav'))
    M.Slider.init(document.querySelector('.slider'))
    M.Collapsible.init(document.querySelector('.collapsible'))
    M.Modal.init(document.querySelector('.modal'))
</script>
</body>