<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 offset-l2 s12">
                <h5>Services</h5>
                <ul>
                    <li><a href="#!">Storage</a></li>
                    <li><a href="#!">Towing</a></li>
                    <li><a href="#!">Roadside assistance</a></li>
                    <li><a href="#!">Impounds</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Company</h5>
                <ul>
                    <li><a href="#!">About us</a></li>
                    <li><a href="#!">Contact</a></li>
                    <li><a href="#!">Careers</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Legal</h5>
                <ul>
                    <li><a href="#!">Terms of use</a></li>
                    <li><a href="#!">Private policy</a></li>
                    <li><a href="#!">Cookie policy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
<script>
    M.Sidenav.init(document.querySelector('.sidenav'))
    M.Slider.init(document.querySelector('.slider'))
    M.Collapsible.init(document.querySelector('.collapsible'))
    M.Modal.init(document.querySelector('.modal'))
</script>
</body>