<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font-awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- External css -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Get started with your list</title>
</head>
<body>
    <header class="partial-header">
        <nav>
            <div class="nav-wrapper">
                <a href="/todos" class="brand-logo">Bo-TOW</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <% if (typeof user !== 'undefined'){ %>
                        <li><a href="#" data-target="modal1" class="hoverable waves-effect waves-light btn blue darken-1 modal-trigger">Request Tow</a></li>
                        <li><a href="/logout" class="hoverable waves-effect waves-light btn transparent black-text">Sign out</a></li>
                    <% } else { %>
                        <li><a href="/login" class="hoverable waves-effect waves-light btn transparent black-text">Login</a></li>
                        <li><a href="/signup" class="hoverable waves-effect waves-light btn green lighten-1">Create Account</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>    
        <ul class="sidenav" id="mobile-demo">
            <% if (typeof user !== 'undefined'){ %>
                <li><a href="#modal1" data-target="modal1" class="hoverable waves-effect waves-light btn blue darken-1 modal-trigger">Request Tow</a></li>
                <li><a href="/logout" class="hoverable waves-effect waves-light btn transparent black-text">Sign out</a></li>
            <% } else { %>
                <li><a href="/login" class="hoverable waves-effect waves-light btn transparent black-text">Login</a></li>
                <li><a href="/signup" class="hoverable waves-effect waves-light btn green lighten-1">Create Account</a></li>
            <% } %>
        </ul>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>
</body>
</html>