<header class="site-header">
    <div class="site-header__inner">
        <a href="/" class="site-header__brand" aria-label="Pretriq Home">
            <svg
                class="site-header__logo"
                width="56"
                height="56"
                viewBox="0 0 64 64"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
            >
                <text
                    x="8"
                    y="48"
                    font-family="Roboto, system-ui, sans-serif"
                    font-size="48"
                    font-weight="700"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >q</text>
                <text
                    x="32"
                    y="48"
                    font-family="Roboto, system-ui, sans-serif"
                    font-size="48"
                    font-weight="700"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >p</text>
            </svg>
        </a>
        <nav class="site-header__nav" aria-label="Main navigation">
            <% if (user) { %>
                <div class="site-header__userNav">
                    <a href="/dashboard" class="site-header__dashLink">Dashboard</a>
                    <a href="/profile" class="site-header__dashLink">Profile</a>
                    <a href="/logout" class="btn btn--nav">Log out</a>
                </div>
            <% } else { %>
                <a href="/login" class="btn btn--nav">Log in</a>
            <% } %>
        </nav>
    </div>
</header>
