node_modules
.vscode/*
config/.env
/config/.env
./config/.env
../config/.env
config/env
./config/env
../config/env
/middleware/.env
config/test.env
/config/test.env
./config/test.env
../config/test.env
SETUP_GUIDE.md
README_E2E.md
/test/config/test.env