<%- include('./partials/header.ejs') %>
    <main class="forgot-main">
        <div class="container secondArea">
            <div class="container">
                <div class="card col hoverable">
                    <%- include('./partials/flash.ejs') %>
                    <div class="card-content">
                        <h4 class="center-align">Reset your password</h4>
                        <form action="/forgot" method="POST">
                            <input type="email" name="email" placeholder="Email*" autofocus required autocomplete='email'>
                            <button type="submit" class="btn waves-effect waves-light green lighten-1 hoverable">Submit</button>
                            <a class='center-align' href='/login'>Return to Log In</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </main>
<%- include('./partials/footer.ejs') %>