<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<!-- todo: flash.ejs -->
<%- include('./partials/inspectionModal.ejs') %>
    <main class="index-main">
        <section class="hero-section row valign-wrapper" role="region" aria-labelledby="hero-heading">
            <div class="hero-canvas-container">
                <canvas id="hero-particles"></canvas>
              </div>
            <div class="col s12 m6 hero-text">
                <h1 id="hero-heading">Streamline your <strong class="text-primary green-text">Driver's Vehicle Inspection Report</strong></h1>
                <p>Conduct your FMCSA pre-trip digitally. Use cloud storage to log defects, keep record of remarks, and get your documents on-demand on our easy-to-use platform.</p>
                <div class="animated-button-container">
                    <button id="startInspectionBtn" class="btn waves-effect waves-light green lighten-1 animated-button" aria-haspopup="dialog" aria-label="Start a new pretrip report">&#9654;&nbsp; Start pretrip</button>
                </div>
            </div>
            <div class="col s12 m6 hero-image center-align">
                <img src="/imgs/hero.jpg" alt="Digital truck with inspection dashboard" class="responsive-img hero-img" tabindex="0" />
            </div>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>