<%- include('./partials/header.ejs') %>
    <main class="index-main">
        <section class="hero-section row valign-wrapper" role="region" aria-labelledby="hero-heading">
            <div class="hero-canvas-container">
                <canvas id="hero-particles"></canvas>
              </div>
            <div class="col s12 m6 hero-text">
                <div class="animated-button-container">
                <h1 id="hero-heading">Thanks for your interest in <strong class="text-primary green-text">pretriq</strong></h1>
                <p>We will be offering our digital solution for FMCSA Driver's Vehicle Inspection Reports after maintenance is over</p>
                    <!-- <button id="startInspectionBtn" class="btn waves-effect waves-light green lighten-1 animated-button" role="button" aria-label="Start your pre-trip inspection process"></button> -->
                </div>
            </div>
            <div class="col s12 m6 hero-image center-align">
                <img src="/imgs/hero.jpg" alt="Digital truck with inspection dashboard" class="responsive-img hero-img" tabindex="0" />
            </div>
        </section>
    </main>
<%- include('./partials/footer.ejs') %>
<%- include('./partials/inspectionModal.ejs') %>