<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font-awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- External css -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Get started with your list</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container">
            <h1 class="border-bottom">How to use All Pau</h1>
            <p>Please sign in or create an account to access services.</p>
            <p>A test account is provided on the Login page for previewing preferences.</p>
            <p>Once signed in, locate the "Add Task" button and click it. Fill out the fields, add a date, a priority level & then click submit.</p>
            <p>Submitted tasks appear on your dashboard. Clicking the task will expand a menu displaying additional details. Tasks can be edited, marked as complete, deleted, and sorted.</p>
        </section>
        <section class="container">
            <h5 class="border-bottom">About All Pau</h1>
            <p>All Pau To-Do List was created to help increase productivity and accountability by dividing your project into smaller objectives.</p>
            <p>"All Pau" is a phrase used in Hawaii. It means "finished; done".</p>
        </section>
        <section class="container">
            <h5 class="border-bottom">Our Mission</h1>
            <p>To help you grow and scale through task management. With our to do list, we strive to bring convenience and inspiration.</p>
        </section>
        <section class="container">
            <h5 class="border-bottom">What makes us different</h1>
            <div class="row">
                <div class="col s4 center-align">
                    <i class="material-icons">unarchive</i>
                    <h5>Open-sourced</h5>
                    <p>Our task management platform was developed with you in mind. Every moving part is available for you to inspect and examine how this all works.</p>
                </div>
                <div class="col s4 center-align">
                    <i class="material-icons">verified_user</i>
                    <h5>Reliable</h5>
                    <p>All Pau ensures that your account & tasks will be here long term. This data is stored into a database and your login credentials are hashed and salted with the bCrypt algorithm.</p>
                </div>
                <div class="col s4 center-align">
                    <i class="material-icons">phonelink_setup</i>
                    <h5>Responsive</h5>
                    <p>All Pau is friendly across every screen and device. This flexibility paves the path to keep track of your tasks anywhere, anytime.</p>
                </div>
              </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
    <script>
        M.Sidenav.init(document.querySelector('.sidenav'))
    </script>
</body>
</html>