<%- include('./partials/header.ejs') %>
    <main class="forgot-main">
        <div class="container secondArea">
            <div class="container">
                <div class="card col hoverable">
                    <%- include('./partials/flash.ejs') %>
                    <div class="card-content">
                        <h4 class="center-align">Change your password</h4>
                        <form action="/reset/<%=token%>" method="POST">
                            <input type="password" name="password" placeholder="Password*" autocomplete="new-password" minlength="8" required>
                            <input type="password" name="confirmPassword" placeholder="Confirm Password*" autocomplete="new-password" minlength="8" required>
                            <button type="submit" class="btn waves-effect waves-light green lighten-1 hoverable">Submit</button>
                            <a class='center-align' href='/login'>Return to Log In</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>