<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<main id="main-content" class="authPage" tabindex="-1" aria-labelledby="authPage-heading">

    <!-- Brand panel -->
    <div class="authPage__brand" aria-hidden="true">
        <div class="authPage__brandInner">
            <svg
                class="authPage__brandMark"
                width="96"
                height="96"
                viewBox="0 0 64 64"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                focusable="false"
            >
                <text
                    x="8"
                    y="48"
                    font-family="Roboto, system-ui, sans-serif"
                    font-size="48"
                    font-weight="700"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >q</text>
                <text
                    x="32"
                    y="48"
                    font-family="Roboto, system-ui, sans-serif"
                    font-size="48"
                    font-weight="700"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                >p</text>
            </svg>
            <p class="authPage__brandName">pretriq</p>
            <p class="authPage__brandTagline">Start your digital<br>paper trail today.</p>
        </div>
    </div>

    <!-- Form panel -->
    <div class="authPage__panel">
        <div class="authPage__formWrap">

            <div aria-live="polite" aria-atomic="true">
                <%- include('./partials/flash.ejs') %>
            </div>

            <header class="authPage__formHeader">
                <h1 id="authPage-heading" class="authPage__title">Create an account</h1>
                <p class="authPage__subtitle">Already have an account? <a href="/login">Log in</a></p>
            </header>

            <form class="authPage__form" action="/signup" method="POST" aria-labelledby="authPage-heading" novalidate>

                <div class="authPage__field">
                    <label for="signup-email" class="authPage__label">Email address</label>
                    <input
                        id="signup-email"
                        class="authPage__input"
                        type="email"
                        name="email"
                        autocomplete="email"
                        required
                        autofocus
                    />
                </div>

                <div class="authPage__field">
                    <label for="signup-password" class="authPage__label">Password</label>
                    <input
                        id="signup-password"
                        class="authPage__input"
                        type="password"
                        name="password"
                        autocomplete="new-password"
                        minlength="5"
                        required
                    />
                </div>

                <div class="authPage__field">
                    <label for="signup-confirmPassword" class="authPage__label">Confirm password</label>
                    <input
                        id="signup-confirmPassword"
                        class="authPage__input"
                        type="password"
                        name="confirmPassword"
                        autocomplete="new-password"
                        minlength="5"
                        required
                    />
                </div>

                <label class="authPage__terms">
                    <input
                        id="signup-terms"
                        class="authPage__termsCheckbox"
                        type="checkbox"
                        name="terms"
                        required
                        aria-required="true"
                    />
                    <span class="authPage__termsText">
                        I agree to the
                        <a href="/terms" target="_blank" rel="noopener noreferrer">Terms of Use</a>
                    </span>
                </label>

                <button type="submit" class="btn btn--primary authPage__submit">Create account</button>

            </form>

        </div>
    </div>

</main>

<%- include('./partials/footer.ejs') %>
