<%- include('./partials/header.ejs') %>
    <main class="signup-main">
        <div class="container firstArea">
            <section class="container">
                <h3>Inspections Reimagined</h3>
                <p>Welcome to pretriq</p>
                <a href="/">Back to Home Page ></a>
            </section>
        </div>
        <div class="container secondArea">
            <div class="container">
                <div class="card col hoverable">
                    <%- include('./partials/flash.ejs') %>
                    <div class="card-content">
                        <h4 class="center-align">Create an account</h4>
                        <form action="/signup" method="POST">
                            <input type="email" name="email" placeholder="Email*" autofocus autocomplete="email" required>
                            <input type="password" name="password" placeholder="Password*" autocomplete="new-password" minlength="8" required>
                            <input type="password" name="confirmPassword" placeholder="Confirm Password*" autocomplete="new-password" minlength="8" required>
                            <button type="submit" class="btn waves-effect waves-light green lighten-1 hoverable">Submit</button>
                            <p class="center-align">Already have an account? <a href='/login'>Sign In</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('./partials/footer.ejs') %>