<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Font-awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- External css -->
    <link rel="stylesheet" href="/css/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Sign up for Bo-TOW</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="signup-main">
        <div class="row">
            <% if (locals.messages.errors) { %>
                <% messages.errors.forEach( el => { %>
                    <div class="card alert-danger">
                        <div class="card-content">
                            <p class="center-align"><%= el.msg %></p>
                        </div>
                    </div>
                <% }) %>    
            <% } %>
            <div class="card col hoverable">
                <div class="card-content">
                    <form action="/signup" method="POST">
                        <input type="email" name="email" placeholder="Email" autofocus autocomplete="email" required>
                        <input type="password" name="password" placeholder="Password" autocomplete="new-password" minlength="8" required>
                        <input type="password" name="confirmPassword" placeholder="Confirm Password" autocomplete="new-password" minlength="8" required>
                        <button type="submit" class="btn waves-effect waves-light green accent-3 hoverable">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/9f91d488b5.js" crossorigin="anonymous"></script>
</body>
</html>