/**************************************************************
* Clearfix
***************************************************************/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    clear: both;
    *zoom: 1;
}
/**************************************************************
* Base styles
***************************************************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Times New Roman', sans-serif;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0, .5);
    height: 100vh;
    overflow: auto;
    background-color: #fefefe;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
} 
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 0.25rem;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border: 1px solid #f5c2c7;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.margin {
    margin: 1rem 0;
}
.marginH {
    margin: 0 1rem;
}
.marginT {
    margin-top: 1rem;
}.marginB {
    margin-bottom: 1rem;
}
select {
    display: block;
    background-color: transparent;
    color: black;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.promo-d-none {
    display: none;
    position: absolute;
}
/**************************************************************
* Typography
***************************************************************/
strong, .bold {
    font-weight: 700;
}
cite, em {
    font-style: italic;
}
label {
    color: black;
}
.big {
    font-size: 2rem;
}
/**************************************************************
* Links
***************************************************************/
a {
    text-decoration: none;
}
.fa-github:hover {
    color: #fefefe;
}
.fa-github:active {
    transform: translateY(-4.5px);
}
/**************************************************************
* Header
***************************************************************/
/* partials - header.ejs */
.partial-header nav .nav-wrapper .brand-logo {
    color: black;
    font-family: Lato;
    font-weight: 700;
}
nav {
    background-color: transparent;
}
nav ul {
    margin-right: 1rem;
}
/**************************************************************
* Flash
***************************************************************/
/* partials - flash.ejs */
#scale-demo .card-content {
    text-align: center;
}
#scale-demo .card-content .dismissBtn {
    border:0; 
    background-color: #f8d7da;
    border-radius: .25rem;
    opacity: 0.5;
    color: #000;
}
#scale-demo .card-content .dismissBtn:hover {
    color: #842029;
}
#scale-demo .card-content .successDismissBtn {
    border:0; 
    background-color: #d1e7dd;
    border-radius: .25rem;
    opacity: 0.5;
    color: #000;
}
#scale-demo .card-content .successDismissBtn:hover {
    color: #0f5132;
}
/**************************************************************
* Main
***************************************************************/
/* Login.ejs & signup.ejs */
.login-main {
    background-image: url('/imgs/pexels-steve-johnson-1781710.jpg');
    background-repeat: no-repeat;
    background-position: top;
}
.signup-main {
    background-image: url('/imgs/pexels-steve-johnson-1781710.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
}
.signup-main .firstArea,
.login-main .firstArea {
    text-align: center;
}
.signup-main .firstArea section h3,
.login-main .firstArea section h3 {
    color: #fefefe;
}
.signup-main .firstArea section p,
.login-main .firstArea section p {
    font-size: 1.25rem;
    color: #999;
}
.signup-main .secondArea .container h4,
.login-main .secondArea .container h4,
.forgot-main .secondArea .container h4 {
    margin: 0 0 2rem 0;
}
.signup-main .secondArea .container .card .card-content form input,
.login-main .secondArea .container .card .card-content form input,
.forgot-main .secondArea .container .card .card-content form input {
    margin-bottom: 2rem;
}
.signup-main .secondArea .container .card .card-content form select {
    margin: 1rem 0;  
}
.signup-main .secondArea .container .card .card-content form .btn,
.login-main .secondArea .container .card .card-content form .btn,
.forgot-main .secondArea .container .card .card-content form .btn {
    width: 100%;
    margin-bottom: 2rem;    
}
.login-main .secondArea .container .card .card-content .forgot {
    display: block;
}

/* Forgot.ejs */
.forgot-main .container .container .card .card-content form a {
    display: block; 
}


/* Edit.ejs */
.edit-main .container .card .card-content form select {
    display: block;
}
.edit-main .container .card .card-content form button {
    width: 100%;
}

/* Index.ejs */
.green-text {
    color: #66bb6a !important; 
}
.index-main .d-flex {
    border-bottom: 1px solid rgba(0,0,0, .25);
}
.index-main .firstArea section {
    padding-bottom: 2rem;
}
.index-main .firstArea .slider {
    height: auto !important;
}
.index-main .firstArea .slider .indicators {
    display: none;
}
.index-main .firstArea section #scale-demo {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 2rem auto 0 auto;
    color: #fefefe;
}
.index-main .firstArea section button {
    border: 0;
    border-radius: .25rem;
    opacity: 0.5;
    font-size: 1.5rem;
    padding: 1rem 1.25rem;
    color: #fefefe;
}
.index-main .firstArea section button:hover {
    color: #999;
}
.index-main .mission {
    flex-direction: column;
    border-bottom: 1px solid #cfd8dc;
}
.index-main .mission h1 {
    margin: 0;
    padding-top: 2rem;
}
.index-main .secondArea {
    padding: 0 0 1rem 0;
}
.index-main .secondArea .col .card {
    border-radius: 1rem;
}
.index-main .secondArea .col .card-image {
    border-radius: 1rem 1rem 0 0;
}
.index-main .secondArea .col .card-action {
    border-radius: 0 0 1rem 1rem;
} 
.index-main .secondArea .col {
    padding: 1rem;
}
.index-main .secondArea .col .card .card-title {
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.index-main .thirdArea {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

/* todos.ejs */
.todos-main .container .container .collapsible .todoItem .collapsible-header {
    display: flex;
    flex-direction: column;
}

.todos-main .container .container .collapsible .todoItem .collapsible-body div .btnContainer {
    display: flex;
    flex-direction: column;
}
.todos-main .container .container .collapsible .todoItem .collapsible-body div form button {
    width: 100%;
    margin: 0.25rem 0;
}

.todos-main #modal1 .modal-content form select {
    margin: 0.5rem 0 1rem 0;
}
.todos-main #modal1 .modal-content form .locationContainer,
.todos-main #modal1 .modal-content form .vehicleContainer,
.todos-main #modal1 .modal-content form .optionalContainer {
    padding: 0 2rem;
}
.todos-main #modal1 .modal-content form label {
    border-left: 1px solid rgba(230, 0, 0, 0.5); 
    padding-left: .25rem;   
}
.todos-main #modal1 .modal-content form button {
    margin-top: 0.5rem;
    width: 100%;
}

/* profile.ejs */
.profile-main .card {
    margin: 1rem auto 0 auto;
}
.profile-main .card .card-content p {
    margin: 1rem;
}
.profile-main .card .card-content div form button {
    width: 100%;
}
/**************************************************************
* Footer
***************************************************************/
/* partials - footer.ejs */
.page-footer {
    padding-top: 0;
    background-color: transparent;
    border-top: 1px solid rgba(0,0,0, .25);
}
.footer-copyright {
    background-color: transparent !important;
}
.page-footer .footer-copyright * {
    color: black;
}
.page-footer .footer-copyright .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-footer .footer-copyright .container a {
    border-radius: 6px;
    opacity: 0.75;
}
.page-footer .footer-copyright .container a:hover {
    opacity: 1;
}
/**************************************************************
* Media queries
***************************************************************/
@media screen and (min-device-width: 565px) {

    .todoBtns {
        display: inline-block;
    }

    .index-main .firstArea {
        display: flex;
        align-items: center;
    }

    .index-main .secondArea {
        display: flex;
    }

    .index-main .secondArea .col {
        width: 100%;
    }

    .profile-main .card .card-content div:nth-child(2) {
        float: left;
        width: 50%;
    }
    .profile-main .card .card-content div:nth-child(3) {
        float: right;
    }

}

@media screen and (min-device-width: 1024px) {

    .partial-header .nav-wrapper .brand-logo {
        margin-left: 1rem;    
    }
    .partial-header .nav-wrapper ul li a {
        margin: 1rem 0.25rem;
    }

    .index-main .d-flex .slider .slides li #firstImg {
        background-repeat: no-repeat;
        background-position: top;
    }

    .signup-main,
    .login-main {
        display: flex;
    }
    .signup-main .firstArea,
    .login-main .firstArea {
        display: flex;
    }
    .signup-main .firstArea section,
    .login-main .firstArea section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .signup-main .secondArea,
    .login-main .secondArea {
        display: flex;
    }
    .signup-main .secondArea .container,
    .login-main .secondArea .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .todos-main .container .container .collapsible .todoItem .collapsible-body div .btnContainer {
        flex-direction: row;
        justify-content: space-evenly;
    }
}