<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs') %>

<main id="main-content" class="errorPage" tabindex="-1" aria-labelledby="errorPage-heading">
    <div class="errorPage__inner">

        <div class="errorPage__code" aria-hidden="true">404</div>

        <div class="errorPage__content">
            <p class="errorPage__eyebrow">Page not found</p>
            <h1 id="errorPage-heading" class="errorPage__title">This page doesn't exist.</h1>
            <p class="errorPage__body">The URL may be mistyped or the page may have moved. Head back to the home page to get back on track.</p>
            <a href="/" class="btn btn--primary errorPage__cta">Return to home</a>
        </div>

    </div>
</main>

<%- include('../partials/footer.ejs') %>
